// Блок со спойлерами
.spollers {
   display: grid;
   gap: 15px;

   &__list {
      margin-left: toEm(25, 20);
   }
}

// Заголовок спойлера
.spollers__title {
   width: 100%;
   cursor: default;
   text-align: left;
   border: 2px solid $linkOtherColor;
   padding: toRem(10) toRem(45) toRem(10) toRem(15);
   border-radius: toRem(5);
   position: relative;
   list-style: none;
   margin-bottom: toEm(7, 20);

   &::marker {}

   ._spoller-init & {
      cursor: pointer;

      &::before,
      &::after {
         content: "";
         position: absolute;
         right: 10px;
         top: 50%;
         background-color: $accentColor;
         height: 2px;
         width: 15px;
         transition: transform 0.5s ease 0s;
      }

      &::before {
         transform: translate(-75%, -50%) rotate(40deg);
      }

      &::after {
         transform: translate(0, -50%) rotate(-40deg);
      }

      &._spoller-active {
         &::before {
            transform: translateX(-75%) rotate(-40deg);
         }

         &::after {
            transform: rotate(40deg);
         }
      }
   }
}

// Контент спойлера
.spollers__body {
   padding: toRem(20);
   border-radius: toRem(5);
   border: 2px solid $accentColor;
}