// action-block
.action-block {
   padding: 0;
   background: url("../img/bg-action-block-40.jpg") center / cover no-repeat;

   &__wrapper {
      color: $mainBgColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__subtitle,
   &__text {
      text-align: center;
      text-shadow: 0 0 5px $mainColor;
   }
}