// action-block
.action-block {
   padding: 0;
   background: url("../img/bg-action-block-40.jpg") center / cover no-repeat;

   &__wrapper {
      color: $mainBgColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__subtitle,
   &__text {
      text-align: center;
      text-shadow: 0 0 5px $mainColor;
   }

   &__subtitle {
      @media (max-width: 1500px) {
         margin-bottom: calc(30px + 5*((100vw - 480px) / (1260 - 480)));
      }
   }
}