// values

.values {

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .values-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;

      @media (max-width:$mobileSmall) {
         gap: 20px;
      }

      @media (any-hover: hover) {
         &__item {
            opacity: 0;
            transform: translateY(100px);
         }

         &__item--1._watcher-view {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.7s ease 0s, opacity 0.7s ease 0s;
         }

         &__item--2._watcher-view {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.7s ease 0.2s, opacity 0.7s ease 0.2s;
         }

         &__item--3._watcher-view {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.7s ease 0.4s, opacity 0.7s ease 0.4s;
         }
      }
   }

   .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $mainLightColor;
      padding: toEm(30, 20) toEm(30, 20);
      border-radius: 5px;
      min-height: toRem(400);
		min-width: toRem(350);;
      max-width: toRem(350);


      @media (max-width: $pc) {
         max-width: toRem(450)
      }

      @media (max-width: $tablet) {
         max-width: toRem(350);
         min-height: toRem(390);
      }

      @media (max-width: $mobile) {
         max-width: toRem(500);
      }

      @media (max-width: $mobileSmall) {
         min-height: toRem(310);
      }


      &__img-wrapper {
         /* aspect-ratio: 64/64;
         overflow: hidden; */
         margin-bottom: toEm(15, 20);
      }

      &__icons {
         width: 64px;
         height: 64px;
      }

      &__title {
         margin-bottom: toEm(15, 20);
      }

      &__list {
         padding-left: toRem(19);
      }

      &__list li {
         list-style-type: square;
      }

      &__list li::marker {
         color: $accentColor;
      }

      &__text {
         font-size: toRem(16);
         line-height: math.div(20, 16);

         @media (max-width: $pc) {
            font-size: calc(15px + 1*((100vw - 320px) / (1260 - 320)));
         }
      }

      &__text {
         margin-bottom: toEm(10, 20);
      }

      &__wrapper-link {
         text-align: center;
      }
   }
}